.offers{
    width: 75%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 3.5vw;
    margin-bottom: 7vw;
    background: linear-gradient(180deg,#fde1ff 0%, #e1ffea22 60%);
}

.offer-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offer-left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}


.offer-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offer-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none; 
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offer-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}
@media(max-width:1280px){
    .offers{
        padding: 0px 80px;
        margin-bottom: 50px;
    }
    .offer-left h1{
        font-size: 40px;
    }
    .offer-left p{
        font-size: 18px;
    }
    .offer-right img{
        width: 300px;
    }
    .offer-left button{
        width: 160px;
        height: 40px;
        font-size: 16px;
    }
    .offer-right{
        padding-top: 0px;
    }
}
@media(max-width:800px){
    .offers{
        padding: 0px 50px;
        margin-bottom: 0px;
        height: 45vh;
        width: 650px;
    }
    .offer-left h1{
        font-size: 22px;
    }
    .offer-left p{
        font-size: 13px;
        width: 200px;
    }
    .offer-right img{
        width: 200px;
    }
    .offer-left button{
        width: 130px;
        height: 30px;
        font-size: 13px;
    }
    .offer-right{
        padding: 0px;
        height: 350px;
        margin-left: 60px;
    }
    .offer-left{
        padding: 0;
        height: 300px;
        width: 350px;
    }
}